{{#each this}}
<article class="countries">
  <h1 class="countries__heading">{{name}}</h1>
  <div class="countries__info-wrap">
    <div class="countries__info">
      <p>
        <h2 class="countries__item-heading" >Capital:</h2>
        <span class="countries__headers-value">{{capital}}</span>
      </p>
      <p>
        <h2 class="countries__item-heading">Population:</h2>
        <span class="countries__headers-value">{{population}}</span>
      </p>
      <p>
        <h2 class="countries__item-heading">Languages:</h2>
        <ul class="countries__headers-value">
          {{#each languages}}
            <li class="countries__list-item">{{name}}</li>
          {{/each}}
        </ul>
      </p>
    </div>
    <div class="countries__main-info">
      <img class="countries__flag" src="{{flag}}" alt="flag of {{name}}">
    </div>
  </div>
</article>
{{/each}}
